openapi: 3.1.0
info:
  title: Meta Marketing API - Lead Ads Bulk Leads Meta Marketing API Lead Ads API
  description: 'Graph API endpoints for managing Facebook and Instagram lead

    generation forms, retrieving captured leads, downloading bulk lead

    exports, and configuring leadgen webhooks. Authentication uses a

    Page access token (OAuth 2.0 bearer) with the leads_retrieval,

    pages_show_list, and pages_manage_ads permissions granted by a Page

    admin.

    '
  version: v22.0
  contact:
    name: Meta for Developers
    url: https://developers.facebook.com/docs/marketing-api/guides/lead-ads/
servers:
- url: https://graph.facebook.com/v22.0
  description: Meta Graph API
security:
- PageAccessToken:
  - leads_retrieval
  - pages_show_list
  - pages_manage_ads
tags:
- name: Meta Marketing API Lead Ads
paths:
  /{form-id}:
    parameters:
    - name: form-id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get a lead generation form
      operationId: getLeadGenForm
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Form
      tags:
      - Meta Marketing API Lead Ads
  /{lead-id}:
    parameters:
    - name: lead-id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get a single lead
      operationId: getLead
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Lead record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
      tags:
      - Meta Marketing API Lead Ads
components:
  schemas:
    Lead:
      type: object
      properties:
        id:
          type: string
        created_time:
          type: string
          format: date-time
        ad_id:
          type: string
        form_id:
          type: string
        field_data:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              values:
                type: array
                items:
                  type: string
  parameters:
    Fields:
      name: fields
      in: query
      schema:
        type: string
      description: Comma-separated list of fields to return.
  securitySchemes:
    PageAccessToken:
      type: oauth2
      description: 'Page access token obtained via Facebook Login / Meta Business

        Login with leads_retrieval, pages_show_list, and

        pages_manage_ads permissions.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.facebook.com/v22.0/dialog/oauth
          tokenUrl: https://graph.facebook.com/v22.0/oauth/access_token
          scopes:
            leads_retrieval: Read leads from lead ad forms
            pages_show_list: List Pages the user manages
            pages_manage_ads: Manage ads associated with a Page
